<article class="user-item" [class.user-item--expanded]="expanded()" (click)="toggle.emit()">
  <div class="user-item__row">
    @if (user().image) {
    <img class="user-item__image" [src]="user().image" loading="lazy" width="52" height="52"
      alt="Avatar of {{ user().firstname }} {{ user().lastname }}" />
    }

    <div class="user-item__main">
      <p class="user-item__name">{{ user().firstname }} {{ user().lastname }}</p>
      <p class="user-item__meta">{{ user().email }}</p>
    </div>

    <div class="user-item__details-summary">
      <p>{{ user().nat }}</p>
      <p>{{ user().locationLabel }}</p>
    </div>
  </div>
</article>
